<!-- <div class="h-screen w-64 bg-gray-800 text-white p-4">
  <h2 class="text-xl font-bold mb-6">Sidebar</h2>
  <ul>
    <li class="mb-2 hover:bg-gray-700 p-2 rounded cursor-pointer">Dashboard</li>
    <li class="mb-2 hover:bg-gray-700 p-2 rounded cursor-pointer">Settings</li>
    <li class="mb-2 hover:bg-gray-700 p-2 rounded cursor-pointer">Profile</li>
  </ul>
</div> -->
<!-- <div class="h-screen w-64 bg-gray-900 text-white p-4 space-y-4">
  <div class="text-xl font-bold">Menu</div>
  <ul>
    <li class="hover:bg-gray-700 p-2 rounded">Dashboard</li>
    <li class="hover:bg-gray-700 p-2 rounded">Settings</li>
    <li class="hover:bg-gray-700 p-2 rounded">Logout</li>
  </ul>
</div> -->

<div [ngClass]="{
  'w-64': isOpen,
  'w-16': !isOpen
}" class="bg-gray-900 text-white h-full transition-all duration-300 overflow-hidden">

  <div class="p-4">
    <p *ngIf="isOpen">Home</p>
    <p *ngIf="isOpen">Chats</p>
    <p *ngIf="isOpen">Settings</p>
    <p *ngIf="!isOpen">H</p>
    <p *ngIf="!isOpen">C</p>
    <p *ngIf="!isOpen">S</p>
  </div>
</div>





