

<div class="p-4 space-y-4 overflow-auto">
  @for (block of outputData; track $index) {
    <ng-container [ngSwitch]="block.type">

 
      <pre *ngSwitchCase="'code'" class="bg-gray-900 text-white p-3 rounded overflow-x-auto">
        <code>{{ block.content }}</code>
      </pre>

  
      <table *ngSwitchCase="'table'" class="table-auto border border-gray-300 w-full text-sm">
        <thead>
          <tr>
            @for (header of block.headers; track $index) {
            <th  class="border p-2 bg-gray-100">{{ header }}</th>
          }
          </tr>
        </thead>
        <tbody>
          @for ( row of block.rows; track $index) {
          <tr>
            <td *ngFor="let cell of row" class="border p-2">{{ cell }}</td>
          </tr>
        }
        </tbody>
      </table>

      <img *ngSwitchCase="'image'" [src]="block.content" class="rounded max-w-full h-auto" alt="output image" />

  
      <div *ngSwitchCase="'markdown'" [innerHTML]="renderMarkdown(block.content||'')"></div>
    </ng-container>
   }
</div>
